.blog-more{
    font-size:30px;
}

//bolg-inpage
.undo-redo a{
    &:hover{
        color:$primary !important;
    }
}

.blog-menu{
    .nav-link{
        @include size-sm(){
            padding: 8px;
        }
    }
}